go 1.25.5

use (
	./config
	./pipelines
	./testutil
	./tools/acrauth
	./tools/cmdutils
	./tools/grafanactl
	./tools/helm
	./tools/istio-upgrade
	./tools/kustoctl
	./tools/prow-job-executor
	./tools/registration
	./tools/release
	./tools/secret-sync
	./tools/yamlwrap
)
